@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500&family=Tiro+Tamil&display=swap');

.restaurant-name {
  font-family: 'Tiro Tamil', serif;
  font-size: 22px;
  margin: 0;
  text-transform: capitalize;
  color: #1f1f1f;
}

.restaurant-address {
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding-top: 5px;
}

.collection-name {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 22px;
  margin-top: 30px;
  color: #1f1f1f;
  letter-spacing: .7px;
}

.restaurant-header {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.restaurant-price {
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding-top: 5px;
  padding-left: 20px;
}

.container {
padding: 15px 15px 15px 0;
margin-bottom: 20px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
box-sizing: border-box;
width: 88%;
padding: 10px 10px 10px 20px;
border-radius: 8px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.url {
  font-family: 'Albert Sans', sans-serif;
  font-weight: 500; 
  text-decoration: none;
  color: inherit;
}

.url:hover {

}

.remove-btn {
  display: block;
  font-size: 22px;
  margin: 0;
  padding-top: 5px;
  padding-left: 20px;
  color: #eb3f33;
  text-align: right;
  /* position: fixed;
  left: 330px;
  top: 300px */
  /* 
  position: absolute; */
  /* right: 57px;
  bottom: 525px */
} 