@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500&family=Tiro+Tamil&display=swap');


.marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #ea4336;
  transform: rotate(-45deg);
  border: 1px solid #b11313;
}

.marker:after {
  content: "";
  width: 14px;
  height: 14px;
  margin: 7px 0 0 7px;
  background: #b11313;
  position: absolute;
  border-radius: 50%;
}
