.nav-saved__btn {
  background-color: transparent;
  border: none;
  color: black;
  border-bottom: 3px solid transparent;
  padding: 10px 5px 10px 5px;
  font: inherit;
  outline: inherit;
  font-weight: 600;
  margin-left: 25px;
}

.nav-search__btn {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px 5px 10px 5px;
  font: inherit;
  outline: inherit;
  font-weight: 600;
  margin-right: 25px;
}

.nav-search__btn:hover,
.nav-saved__btn:hover {
  color: #ea4336;
  cursor: pointer;
}