@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&family=Tiro+Tamil&display=swap');

.restaurant-img {
  width: 140px;
  height: 110px;
  border-radius: 15px;
}

.restaurant-img:hover {
cursor: pointer;
}

.restaurant-container {
  display: flex;
  padding: 35px 15px 25px 15px;
  border-bottom: 1px solid #e1dedc;
}

.restaurant-name {
  margin: 0px;
  font-family: 'Tiro Tamil', serif;
  font-size: 20px;
  margin-right: 10px;
  border-bottom: 1.5px solid transparent;
  line-height: 20px;
}

.restaurant-name:hover {
  cursor: pointer;
  border-bottom: 1.5px solid #1f1f1f;
}

.restaurant-header {
  display: flex;
}

.restaurant-container p {
  margin: 0px 10px 0px 0px;
  padding: 5px 0 5px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
}

.inner-container {
  padding: 5px 5px 5px 20px;
}

.price-cuisine {
  display: flex;
}

.star-rating {
  display: flex;
  flex-direction: row;
}

.save-icon {
  position: absolute;
  right: 15px;
}

.save-icon:hover {
  cursor: pointer;
}