.results {
  padding-left: 20px;
  font-family: 'Albert Sans', sans-serif;
  color: black;
  margin: 20px 0 00px 0;
}

.search {
  font-family: 'Albert Sans', sans-serif;
  color: black;
  text-align: center;
  margin-top: 50px;
}