@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500&family=Tiro+Tamil&display=swap');

body {
  color: #353f54;
}

.restaurant-img {
  width: 370px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.img-container {
  text-align: center;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 15px 25px 15px;
  border-bottom: 1px solid #e1dedc;
}

.restaurant-name {
  margin: 0px;
  font-family: 'Tiro Tamil', serif;
  font-size: 25px;
  margin-right: 5px;
  border-bottom: 1.5px solid transparent;
  line-height: 32px;
  color: #1f1f1f;
}

.restaurant-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-right: 9px;
}

.restaurant-container p {
  margin: 0px 10px 0px 0px;
  font-family: 'Albert Sans', sans-serif;
  font-size: 15px;
}

.inner-container {
  padding: 15px 5px 5px 20px;
}

.price-cuisine {
  display: flex;
  padding-bottom: 8px;
  font-weight: 500;
  color: #353f54;
}

.price-cuisine p {
  padding: 5px 5px;
  font-weight: 500;
  margin: 6px 0px 0px 0px;
  font-size: 15px;
}

.star-rating {
  display: flex;
  flex-direction: row;
}

.save-icon {
  font-size: 21px;
  margin: 4px;
}

.save-icon:hover {
  cursor: pointer;
}

.address,
.phone,
.url {
  padding-bottom: 12px;
  font-weight: 500;
  color: #353f54;
}

.url a {
  text-decoration: none;
  color: #353f54;
}

.icon {
  color: #ea4336;
  font-size: 17px;
}

.star-rating {
  padding-bottom: 8px;
}

.star-rating p {
  margin-left: 10px;
  margin-top: 6px;
  font-size: 16px;
}

.star {
  font-size: 27px;
  padding: 2px;
}
